@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  max-width: 1580px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-family: "Elms Sans", sans-serif;
  font-weight: 200;
  font-size: 90px;
  text-align: left;
}
.rainbow-text {
  background: linear-gradient(to right, yellow, violet, blue);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
input {
  height: 50px;
  border-radius: 10px;
}

button {
  background-image: linear-gradient(
    to right,
    #dd5e89 0%,
    #f7bb97 51%,
    #dd5e89 100%
  );
}
button {
  margin: 10px;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.question {
  color:#dd5e89;
  border-radius: 10px;
}

.api {
  color:#69112e
}
